.card {
    padding: 2%;
    /* margin: 10%; */
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30%;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.table-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}